<!DOCTYPE html>

<html lang="en">
<head>
      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link href="/style.css" rel="stylesheet" type="text/css">
    
    <title>Hey Chatbot - 歡迎</title>
</head>
<body>
<div class="wrap">
      <p><%=message %><br/></p>
      
    <form action="http://127.0.0.1:3000/login"  method="post">
        <input type="text" name="ID" />
        <input type="password" name="pwd" />
        <input type="submit" value="登入" />
    </form>
    <form action="http://127.0.0.1:3000/addstr">
        <input type="submit" value="註冊" />
    </form>
    <form action="http://127.0.0.1:3000/trytrylook">
        <input type="submit" value="試用" />
    </form>
</div>
 
</body>
</html>