<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="findpwd">
        <form action="http://<%=ip %>/do_findpwd" method="POST">
           輸入註冊的帳號 <input type="text" name='id' >
           輸入註冊的信箱 <input type="text" name='email' >
           <input type="submit" >
        </form>
    </div>
</body>
</html>