<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, minimun-scale=1.0, initial-scale=1.0, user-scalable=yes">

 	<link rel="stylesheet" type="text/css" href="css/index.css" />

	<link rel="import" href="components/bower_components/core-toolbar/core-toolbar.html">
	<link rel="import" href="components/bower_components/paper-elements/paper-elements.html">
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css" />


	
    </script>



	<title>Login</title>
</head>
<body>

	<div class="list-group">
	  <a class="list-group-item" href="#"><i class="fa fa-chevron-left fa-3x"></i> </a>
	  <a class="list-rightbars" href="#"><i class="fa fa-bars fa-3x"></i> </a>	  
	</div>

	<div class="app">
		<form action="http://127.0.0.1:3000/login"  method="post">
			<input type="text" name="ID" placeholder="請輸入帳號"/>
			<input type="password" name="pwd" placeholder="請輸入密碼"/>
		 <input type="submit" value="登入"/>   

		

 	    <button onclick="location.href='chatroom_fun.html'"><input class="login_icon" type="image"  src="../img/fblogin.png" onClick="document.formname.submit();"></button>

 	    
    </div>

</body>
</html>