<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimun-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<link rel="import" href="components/bower_components/core-toolbar/core-toolbar.html">
	<link rel="import" href="components/bower_components/paper-elements/paper-elements.html">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="">
	<title>Chatroom</title>
</head>

<body>
	<div class="chatroom_background">
		<div class="list-group">
			<a class="list-group-item" href="#"><i class="fa fa-chevron-left fa-3x"></i> </a>
			<a class="list-rightbars" href="http://127.0.0.1:3000/info"><i class="fa fa-bars fa-3x" ></i> </a>
		</div>
		<form action="http://127.0.0.1:3000/addstr" method="post" class="form">
			<div class="echo">
				<p>
					<%-send %>
				</p>
			</div>
			<div class="text">
				<input type="text" name="addstr">
			</div>
			<div class="send">
				<input type="submit" class="submit" name="submit" value="提交">
			</div>
		</form>
	</div>
	</form>
	<div class="logout">
		<form action="http://127.0.0.1:3000/logout" method="post" class="form">
			<input type="submit" class="submit" name="submit" value="登出">
		</form>
	</div>
	<div class="echo"></div>
	</div>
</body>

</html>