<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, minimun-scale=1.0, initial-scale=1.0, user-scalable=yes">

 	

	<link rel="import" href="components/bower_components/core-toolbar/core-toolbar.html">
	<link rel="import" href="components/bower_components/paper-elements/paper-elements.html">
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="css/index.css" />

	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<link href="https://bootstrap.hexschool.com/dist/css/bootstrap.min.css" rel="stylesheet">


	<title>Private</title>
</head>
<body>
	

	<nav class="navbar navbar-expand-sm fixed-top navbar navbar-light" style="padding: 0px">
      
	 <div style="background-color:#FF7744 ; width: 100%" >
		
	
      <a class="navbar-brand mr-auto mr-lg-0" href="#"  style="margin-left:150px;">HeyChatbot</a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas" style="float: right; margin-right: 10px; margin-top: 5px;">
        <span class="navbar-toggler-icon"></span>
      </button>
 	 </div>


	
	
	<div class="app_inside">

 

        <h1 class="pri_title">隱私條款</h1>

      	
		        
        <p class="pri_context">我是隱私條款</p>

<!-- 
		<div class="slide_box">
			 <div class="slide_column">
            	我的景點
	        </div>
	         <div class=
	         "slide_column">
	            行程表
	        </div>
	        <div class="slide_column">
	            預算管理
	        </div>
	        <div class="slide_column">
	            設定
	        </div>
		</div>
 -->

        
        <br/>
        <br/>
		


    </div>



</body>
</html>