<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="add"><button onclick="window.location.href='http://<%=ip%>/add_schedule'">創建新行程</button></div>
    <div class="back"><button onclick="window.location.href='http://<%=ip%>/trytrylook'">回上一頁</button></div>
<div class="schedule"> <%-send %> </div>

</body>
</html>