<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="seepwd"><%-send %></div>
    <div class="modify"><button onclick="window.location.href='http://<%=ip %>/loginin'">前往登入</button></div>
    <div class="modify"><button onclick="window.location.href='http://<%=ip %>'">回首頁</button></div>
</body>
</html>