<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, minimun-scale=1.0, initial-scale=1.0, user-scalable=yes">

 	<link rel="stylesheet" type="text/css" href="css/index.css" />

	<link rel="import" href="components/bower_components/core-toolbar/core-toolbar.html">
	<link rel="import" href="components/bower_components/paper-elements/paper-elements.html">
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="js/index.js"></script>





	<title>Signup</title>
</head>
<body>
	
	<core-toolbar class="toolbar">
      <paper-icon-button  icon="menu"></paper-icon-button>
       <a class="list-group-item" href="http://<%-ip%>/"><i class="fa fa-chevron-left fa-3x"></i> </a>
            <!-- <span class="toolbar_title" flex>I am a toolbar!!!!</span> -->
            <a class="list-rightbars" href="#"><i class="fa fa-bars fa-3x" ></i> </a>

     </core-toolbar>  


	
	<div class="app_inside">

     <div class="sign_container">
        <div class="py-5 text-center">
       <!--  <img class="d-block mx-auto mb-4" src="img/logo.png" alt="" width="72" height="72"> -->
        <h2 class="sign_title">歡迎加入Heychatbot</h2>
       </div>


        <div class="col-md-8 order-md-1">
          <h4 class="sign_sectitle">請填寫下列資料</h4>
          <form class="needs-validation"  action="http://<%=ip%>/doSignup" method="post" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="sign_boxtitle">姓名</label>
                <input type="text" class="sign_form" name="name" placeholder="" value="" required>
                <div class="invalid-name">
                </div>
              </div>

              <div class="col-md-6 mb-3">
                <label class="sign_boxtitle">帳號</label>
                <input type="text" class="sign_form" name="ID" placeholder="" value="" required>
                <div class="invalid-account">
                  
                </div>
              </div>
            </div>

              <div class="mb-3">
                <label class="sign_boxtitle">密碼</label>
                <input type="password" class="sign_form" name="pwd" placeholder="" required>
                <div class="invalid-password">
                  
                </div>
              </div>
              <div class="mb-3">
                <label class="sign_boxtitle">確認密碼</label>
                <input type="password" class="sign_form" name="pwd2" placeholder="" required>
                <div class="re-password">
                  
                </div>
              </div>

            <div class="mb-3">
              <label class="sign_boxtitle">電子信箱<span class="text-muted"></span></label>
              <input type="email" class="sign_form" name="email" placeholder="you@example.com">
              <div class="invalid-email">
                
              </div>
            </div>

            <div class="mb-3">
              <label class="sign_boxtitle">生日</label>
              <input type="date" class="sign_form" name="birth" placeholder="" required>
              <div class="invalid-birthday">
                
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 mb-3">
                <label class="sign_boxtitle">性別</label>
                <select class="sign_gender" name="gender" required>
                  　<option value="male">男生</option>
                  　<option value="female">女生</option>
                </select>
                <div class="invalid-gender">
                 
                </div>
              </div>
            </div>


            <hr class="mb-4">
            <button class="sign_submit" type="submit">註冊</button>
          </form>
        </div>
	</div>
		<footer >
          <p class="mb-1">&copy; 2018-2019 Heychatbot</p>

        </footer>
    </div>

    <script>
      var btn = document.querySelector('.sign_submit')
      btn.addEventListener('click',function(){
            if(document.querySelector('.sign_form').value == ""  )
            {
              document.querySelector('.invalid-name').textContent = "請填寫有效的姓名";
            }
            if(document.querySelector('.sign_form').value == ""  )
            {
              document.querySelector('invalid-account').value = "請填寫有效的帳號";
            }
            if(document.querySelector('.sign_form').value == ""  )
            {
              document.querySelector('invalid-password').value = "請填寫有效的密碼";
            }if(document.querySelector('.sign_form').value == ""  )
            {
              document.querySelector('invalid-email').value = "請填寫一個有效的電子信箱";
            }
            if(document.querySelector('.sign_form').value == ""  )
            {
              document.querySelector('invalid-birthday').value = "請填寫出生日期";
            }
            if(document.querySelector('.sign_form').value == ""  )
            {
              document.querySelector('invalid-gender').value = "請選擇性別";
            }





        })
     
    </script>


</body>
</html>