/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body{
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#ace9e7;
    /*background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);*/
    /*background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);*/
    /*background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);*/
    /*background-image:-webkit-gradient(*/
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:none;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/home.jpg) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:500px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-165px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.app_inside {
    /*background:url(../img/) no-repeat center top; /* 170px x 200px */*/
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:500px;                   /* text area height */
    width:300px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:0 auto;   offset vertical: half of image height and text area height 
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 18/9) and (min-width:414px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 200px;  
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height 
                                      /* offset horizontal: half of image width and text area width */
   }
}



h1 {
    font-size:35px;
    font-family: "微軟正黑體";
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.bar{
    background-color: #FF7744;
    height:60px; 
}

.bar_left{
    margin-left: 30px;
}

.bar_title{
    font-size: 30px;
    color: black;
    padding-left: 80px;
}

.sch_title{
    margin-top:-100px;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

.home_buttom{
    margin-top: 10px;
    margin-left: 80px;
    border-radius: 2px;
    font-family: "微軟正黑體";
    width: 80px;
    height: 40px;
    /*vertical-align: center;*/
    margin:0 auto;
    background-color:#c0c0c0;
    border-radius: 4px;
    text-decoration: none;
     font-family: "微軟正黑體";
    /*display:block;*/
}

.home_buttom2{
    /*margin-left: 80px;*/
    font-family: "微軟正黑體";
    width: 80px;
    height: 40px;
    /*vertical-align: center;*/
    margin:0 auto;
    background-color:#c0c0c0;
    border-radius: 4px;
    text-decoration: none;
    /*display:block;*/
}

.non_login{
    margin-top: 20px;
}

.back_button{
     border-radius: 2px;
    font-family: "微軟正黑體";
    width: 80px;
    height: 40px;
    /*vertical-align: center;*/
    margin:0 auto;
}

.index_word{
    font-family: "微軟正黑體";
    font-size: 13px;
    height:8px;
}

.account{
    width: 45%;
    height: 25px;
    margin-top: 20px;
}

.password{
    width: 45%;
    height: 25px;
    margin-top: 20px;
    margin-right: 10px;
}

.toolbar{
    width: 100%;
    background-color: #FF7744 ;
    color: white;
    float: left;
    overflow: hidden;

}

.toolbar_title{
    color: white;
    font-size: 20px;
    text-align: center;
   
}

.list-group{
    background-color: #FF7744;
}

.list-group-item{
    color: white;
}

.fa {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-rightbars{
    float: right;
    margin-right: 10px;
    color: white;
}

.login_icon{
    width: 90%;
}

.log_account{
    border-radius: 2px;
    height: 30px;
    margin-top: 20px;
}

.log_password{
    border-radius: 2px;
    height: 30px;
    margin-top: 20px;
}

.login_submit{
     margin-top: 20px;
     width: 65%;
     height: 40px;
     border: none;
    background-color:#c0c0c0;
    border-radius: 4px;
    text-decoration: none;
     font-family: "微軟正黑體";
     font-size: 18px;
}

.chatroom_background{
    height: 500px;
    background:url(../img/background.gif);
}

.pro_table{
    margin:0 auto;
}

.pro_font{
     font-size: 15px;
    font-family: "微軟正黑體";
}

.pro_info{
    font-size: 25px;
    font-family: "微軟正黑體";
}

.att_table{
   /*margin-left: -25px;*/
   float: left;
   margin-bottom: 30px;
}

.att_righttable{
   /*margin-left: 180px;*/
   float: right;
    margin-bottom: 30px;
   
}

.att_title{
    font-size: 20px;
    font-family: "微軟正黑體";
}

.att_save{
    margin-top: -100px;
    margin-bottom:  50px;
    font-size: 35px;
    font-family: "微軟正黑體";
}

.att_font{
    font-size: 15px;
    font-family: "微軟正黑體";
}

.sch_saveatt{
    border: 2px solid;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.gui_title{
    margin-top: -100px;
    font-size: 30px;
    font-family: "微軟正黑體";
}

.gui_context{
    font-size: 20px;
    margin-top: 50px;
    font-family: "微軟正黑體";
}

.pri_title{
    margin-top: -100px;
    font-size: 35px;
    font-family: "微軟正黑體";
}

.pri_context{
    font-size: 20px;
    margin-top: 50px;
    font-family: "微軟正黑體";
}

.slide_box{
    margin-top: -177px;
    margin-left: 160px;
    float: right;
    border: 1px solid;
}

.slide_column{
    /*border: 1px solid;*/
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "微軟正黑體";
}

.sign_container {
    margin-top: -200px;
  font-family: "微軟正黑體";
}

.sign_title{
    font-size: 30px;
}

.sign_sectitle{
    margin-top: -30px;
    font-size: 25px;
}

.sign_boxtitle{
    font-size: 15px;
    font-weight: bold;
    float: left;
}

.sign_submit{
    display: block;
    width: 100%;
    font-family: "微軟正黑體";
    font-size: 20px;
    background:  #33ccff;
    margin-top: 20px;
}

.sign_gender{
    display: block;
    width: 100%;
    height: 30px;
    border-radius: .25rem;
}
.sign_form{
    display: block;
    width: 100%;
    height: 30px;
    border-radius: .25rem;
}

.bud_title{
    float: left;
    margin-top: -70px;
    font-size: 35px;
    font-family: "微軟正黑體";
}

.bud_list{
    width: 100%;
    margin-top: -150px;
    /*height:70px;*/
    /*border:1px solid;*/
    margin-bottom: 20px;
}

.bud_box{
    margin-top: 20px;
    height: 50px;
    /*border:1px solid;*/
    font-size: 25px;
    font-family: "微軟正黑體";
    margin-bottom: 20px;
}

.bud_img{
    float: left;
}

.bud_name{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.bud_input {
    height: 30px;
    border-radius: 4px;
    border: 1px solid #c8cccf;
    color: #6a6f77;
    display: inline-block;
    outline: 0;
    margin: 20px 10px 10px 10px;
    text-decoration: none;
    width: 25%;
    float: right;
}

.add_title{
    margin-top: -130px;
    margin-bottom: 30px;
    font-size: 35px;
    font-family: "微軟正黑體";
}

.add_input{
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.add_submit{
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    margin-top: 15px;
    margin-left: 75px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-size: 18px;
    font-family: "微軟正黑體";
    font-weight:  bold;
}

.add_hr{
    width: 105%;
    margin-top: 25px;
    border: 0;
    height: 1.75px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.add_sectitle{
    font-family: "微軟正黑體";
    float: left;
    font-size: 20px;
    margin-top: 15px;
}

.add_invite{
    margin-top: 80px;
    width: 105%;
    font-family: "微軟正黑體";
    border-style: double;
}

.add_list{
     border-style: none;
}

.add_idnum{
     font-family: "微軟正黑體";
     font-size: 25px;
     padding: 1.375rem .75rem;
      border-style: none;
}

.add_box{
    border-style: none;
}

.add_accept{
    display: block;
    width: 70%;
    padding: .375rem .75rem;
    margin: 15px 15px 15px 15px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-size: 20px;
    font-family: "微軟正黑體";
}

.add_refuse{
    display: block;
    width: 70%;
    padding: .375rem .75rem;
    margin: 15px 15px 15px 15px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-size: 20px;
    font-family: "微軟正黑體";
}

.seeMf_title{
    margin-top: -70px;
    margin-bottom: 30px;
    font-size: 35px;
    font-family: "微軟正黑體";
}

.seeMf_table{
    width: 100%;
    border-style:dashed;
    border-width: 3px;

}

.seeMf_content{
     font-size: 20px;
    font-family: "微軟正黑體";
    border-style:none;
}

.home_photo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.loginS_word{
    font-size: 20px;
    font-family: "微軟正黑體";
    border-style:none;
}

.logoutS_word{
    font-size: 20px;
    font-family: "微軟正黑體";
    border-style:none;
}

.fpwd_find{
    font-size: 30px;
    font-family: "微軟正黑體";
    margin-top: -80px;
     margin-bottom: 80px;
}

.fpwd_title{
    font-size: 20px;
    font-family: "微軟正黑體";
    letter-spacing: 2px;
    margin-top: 10px;

}

.fpwd_submit{
     text-decoration: none;
     border: none;
     border-radius: 4px;
    height: 50px;
    width: 80px;
    font-family: "微軟正黑體";
    font-size: 20px;
    letter-spacing: 3px;
     margin-top: 20px;
     background-color:#c0c0c0;
    /*font-weight: bold;*/
}

.modacc_form{
    margin-left: 35px;
}

.modacc_title{
    font-family: "微軟正黑體";
    letter-spacing: 1px;
    font-size: 20px;
}

.modacc_input{
    height: 30px;
}

.modacc_context{
    font-family: "微軟正黑體";
    font-size: 15px;
}

.modacc_submit{
    width: 80px;
    margin-top: 25px;
    border-radius: 4px;
    text-decoration: none;
    font-family: "微軟正黑體";
    font-size: 20px;
    border: none;
    background-color:#c0c0c0;
}

.modacc_back{
    width: 80px;
    margin-top: 20px;
    border-radius: 4px;
    text-decoration: none;
    font-family: "微軟正黑體";
    font-size: 20px;
    border: none;
    background-color:#c0c0c0;
}

#myacc_title {
    margin-top: -80px !important;
    font-size: 30px;
    font-family: "微軟正黑體";
}

.myacc_form{
    margin-top: 30px;
    margin-left: 45px;
}

.myacc_sectitle{
    font-family: "微軟正黑體";
    letter-spacing: 1px;
    font-size: 20px;
}

.myacc_change{
    width: 80px;
    margin-top: 20px;
    border-radius: 4px;
    text-decoration: none;
    font-family: "微軟正黑體";
    font-size: 20px;
    border: none;
    background-color:#c0c0c0;
}

.myacc_back{
    width: 80px;
    margin-top: 20px;
    font-family: "微軟正黑體";
    font-size: 20px;
    border: none;
    background-color:#c0c0c0;
    border-radius: 4px;
    text-decoration: none;
}

.myacc_context{
    font-family: "微軟正黑體";
    font-size: 18px;
    padding-left: 25px;
     padding-right: 25px;
}

.seepwd_password{
    font-size: 30px;
    font-family: "微軟正黑體";
     margin-top: -80px ;
}

.seepwd_gologin{
    width: 120px;
    margin-top: 100px;
    border-radius: 4px;
    text-decoration: none;
    font-family: "微軟正黑體";
    font-size: 20px;
    border: none;
    background-color:#c0c0c0;
    padding: 10px;
}

.seepwd_back{
    width: 120px;
    margin-top: 20px;
    border-radius: 4px;
    text-decoration: none;
    font-family: "微軟正黑體";
    font-size: 20px;
    border: none;
    background-color:#c0c0c0;
}

.footer{
  background: #ace9e7;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}



.box-opening{
    position: fixed;
    top: 50px;
    right: 0;
    display: block !important;
}
