<!DOCTYPE html>

<html lang="en">
<head>
      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link href="/style.css" rel="stylesheet" type="text/css">
    
    <title>聊天室</title>
</head>
<body>
<div class="wrap">
        <form action="http://127.0.0.1:3000/addstr" method="post" class="form" >
        <div class="echo"><p><%-send %></p></div>
        
                <input type="text" name="addstr">
                <input type="submit" class="submit" name="submit" value="提交">
        </form>

</div>
 
</body>
</html>
